@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --navbar_BgColor: #ffffff;
  --navbar_TextColor: #15803d;
  --navbar_UnderlineColor: #00f585;
  --background: #e2e8f0;
}
