@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  /* light */
  --navbarBgColor: #ffffff;
  --navbarTextColor: #15803d;
  --navbarUnderlineColor: #00f585;

  /* dark */
  --darkNavbarBgColor: #1f2937;
  --darkNavbarTextColor: #86efac;
  --darkNavbarUnderlineColor: #b6edd4;
}
