.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 2rem;

  position: sticky;
  top: 0;
  z-index: 40;
  background-color: transparent;
  transition: all ease 0.5s;

  height: 5rem;
}

.navbar--logo,
.navbar--menu,
.navbar--user-container {
  flex: 1; /* Faz com que cada parte ocupe o mesmo espaço */
  display: flex;
  align-items: center;
}

.navbar--user-container {
  display: "flex";
  gap: "5px";
  align-content: "center";
  justify-content: flex-end;
}

.navbar.scrolled {
  background-color: var(--navbar_BgColor);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  height: 3rem;
}

.navbar--logo {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
  color: var(--navbar_TextColor);
  font-weight: bold;
  font-size: 1.55rem;
}

.navbar--menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  transition: all ease 0.5s;
}

.navbar--menu--option > a {
  font-size: 1.1rem;
  transition: color 0.3s;
  color: var(--navbar_TextColor);
  font-weight: 500;
}

.navbar--user-image {
  border-radius: 150px;
}

.navbar--menu-underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--navbar_UnderlineColor);
  transition: width 300ms ease-in-out;
}

.navbar--menu--option:hover .navbar--menu-underline {
  width: 100%;
}

.navbar--menu--option {
  position: relative;
  display: flex;
}

.navbar--user-dropdown {
  z-index: 50;
  display: none;
  margin: 1rem 0;
  font-size: 1rem;
  list-style: none;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(229, 231, 235, 1);
  border-bottom: 1px solid rgba(229, 231, 235, 1);

  position: absolute;
  top: 2.5rem;
  flex-direction: column;
  gap: 0.5rem;

  animation: openMenu 0.3s ease-in-out forwards;
}

.navbar--user-dropdown > div {
  padding: 0.75rem 1rem;

  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border-bottom-color: #878e99;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.navbar--user-dropdown > div > span:first-child {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #111827;
}

.navbar--user-dropdown > div > span:nth-child(2) {
  display: block;
  font-size: 0.875rem;
  font-weight: 330;
  color: #111827;
}

.navbar--user-dropdown > ul {
  padding-bottom: 0.5rem;
}

.navbar--user-dropdown > ul > li > a {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #374151;
  text-decoration: none;
}

.navbar--user-dropdown > ul > li > a:hover {
  background-color: #f3f4f6;
}

.navbar--user-dropdown--active {
  display: flex !important;
}

/* Código abaixo dedicado a animação do menu hamburger */

.navbar--hamburger {
  --s: 26px; /* control the size */
  --c: var(--navbar_hamberColor); /* the color */

  display: none;
  margin-bottom: 3px;

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background:
    var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size:
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition:
    background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.navbar--hamburger:before,
.navbar--hamburger:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.navbar--hamburger:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.navbar--hamburger:checked:before {
  transform: rotate(45deg);
}
.navbar--hamburger:checked:after {
  transform: rotate(-45deg);
}
.navbar--hamburger:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

@media screen and (max-width: 777px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar--hamburger {
    display: grid;
  }

  .navbar--menu {
    display: none;
  }

  .navbar--menu--active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--navbar_BgColor);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    animation: openMenu 0.5s ease-in-out forwards;
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
